body {
    height: 100vh;
    width: auto;
}

#roll {
    padding: 0.25em;
    background-color: red;
    font-size: 30px;
}

.die.clickable {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    background-color: green;
}

.grid-itemTop {
    display: inline-grid;
    grid-template-rows: 3em 2em;
    grid-template-columns: [row-1-in] 5em [row-1-out row-2-in] 5em [row-2-out row-3-in] 5em [row-3-out row-4-in] 5em [row-4-out row-5-in] 5em [row-5-out];
    grid-gap: 0.5em;
    background-color: limegreen;
    padding: 0.5em;
    font-size: 20px;
    width: auto;
    height: auto;
}

.grid-itemButton {
    background-color: limegreen ;
    padding: 2em;
    font-size: 20px;
    width: auto;
}


.grid-itemBund {
    display: inline-grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: limegreen;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2em;
    font-size: 20px;
    grid-template-areas:
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a b c"
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a . ."
        "a a d e";
}

.itemTop-left {
    grid-column-start: row-1-in;
    grid-column-end: row-2-out;
}

.itemTop-right {
    grid-column-start: row-4-in;
    grid-column-end: row-5-out;
}

.itemBund-left {
    display: inline-grid;
    grid-area: a;
    grid-column-end: a;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.itemBund-sum-area-1 {
    grid-area: b;
}

.itemBund-sum-area-2 {
    grid-area: c;
}

.itemBund-sum-area-3 {
    grid-area: d;
}

.itemBund-sum-area-4 {
    grid-area: e;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}